<%= render 'shared/flash_alert' %>
<%= render 'shared/flash_notice' %>
<div class="form_wrapper">
  <h1>ログイン</h1>
  <%= form_tag :session do %>
    <div class="data_input">
      <%= text_field_tag "name", "", placeholder: "ユーザID" %>
    </div>
    <div class="data_input">
      <%= password_field_tag "password", "", placeholder: "パスワード" %>
    </div>
    <div class="login_panel">
      <%= submit_tag "ログイン", class: "button" %>
    </div>
  <% end %>
    <div class="login_footer">
      <p><%= link_to "新規の方はこちら", :new_user %></p>
    </div>
  </div>
</html>
