<% for order in @orders do%>
	<div class="card">
		<table class="table_style">
			<thead>
				<tr><th>配達先</th><th>注文日付</th><th>ステータス</th><th>操作</th></tr>
			</thead>
			<tbody>
				<tr>
					<td><%= order.user_address %></td>
					<td><%= order.created_at %></td>
					<td><%= Order.delivery_status order.delivery_status %></td>
					<td><%= button_to "キャンセル", %></td>
				</tr>
			</tbody>
		</table>
		<table class="table_style">
			<thead>
				<tr><th>商品名</th><th>数量</th><th>操作</th></tr>
			</thead>
			<tbody>
				<% for order_detail in order.order_details do %>
					<tr>
						<td><%= order_detail.merchandise.merchandise_name %></td>
						<td><%= order_detail.quantity %></td>
						<td><%= button_to "キャンセル", %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>
